
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

* 
{
    box-sizing: border-box;
    margin: 0;
    color: #a9b1d6;
}

body 
{
    background-color: #191921;
}

.titlecontainer 
{
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;

    font-family: Lexend Deca;
    font-weight: lighter;
    font-size: 50px;
}

.socials-container
{
    position: absolute;
    top: 70%;
    width: 100%;
}

.socials-container ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding: 0;
}

.socials-container ul li 
{
    font-size: 60px;
    position: relative;
    width: 16.6666%;
    min-width: 140px;
    padding: 16px 0 16px 0;
    list-style: none;
}

.socials-container ul li a i 
{
    animation: 1s ease-out 0s 1 socialsSlideIn; 
}

@keyframes socialsSlideIn 
{
    0% 
    {
        color: #191921;
    }
    100%
    {
        color: #a9b1d6;
    }
}

.fa-brands 
{
    transition: color 0.2s ease-in-out;
}

a:hover .fa-discord
{
    color: #7289DA;
}

a:hover .fa-patreon
{
    color: #FF424D;
}

a:hover .fa-github
{
    color: #fafafa;
}

a:hover .fa-spotify 
{
    color: #1DB954;
}

a:hover .fa-youtube 
{
    color: #FF0000;
}

a:hover .fa-twitch 
{
    color: #6441a5;
}

.navbar-list 
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 0;
    background-color: #191921;
    box-shadow: 0px 0px 0px #101017;
    font-family: Lexend Deca;
}

.navbar-item 
{
    list-style: none;
    margin-right: 100px;
}

.navbar-item hr
{
    position: relative;
    width: 0;
    left: 50%;
    border-style: solid;
    border-color: #191921;
    transition: left 0.2s,
                width 0.2s,
                border-color 0.2s;
    opacity: 1.0;
}

.navbar-item:hover hr 
{
    left: 0;
    width: 100%;
    border-color: #a9b1d6;
}

.navbar-item a 
{
    
    text-decoration: none;
    font-size: 20px;
    color: #a9b1d6;
    pointer-events: all;
    bottom: 0px;
    position: relative;
}

.navbar-item:first-child
{
    margin-right: auto;
    margin-left: 100px;
}

.contact-btn 
{
    border: 2px #a9b1d6 solid;
    background-color: #191921;
    color: #a9b1d6;
    padding: 8px 26px;
    font-size: 20px;
    font-family: Lexend Deca;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #a9b1d6;
    transition: box-shadow 1s cubic-bezier(0.075, 0.82, 0.165, 1),
                color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 1.0;
}

.contact-btn:hover 
{
    box-shadow: inset 0 -52px 0 0 #a9b1d6;
    color: #191921;
}

.main-div 
{
    top: 80%;
    transform: translateY(190px);
    position: absolute;
    /* height: 600px; */
    height: 55%;
    width: 100%;
    background-color: #13131A;
    font-family: Lexend Deca;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.8);
}

.main-div .create-title 
{
    position: absolute;
    top: -11.2vw;
    width: 100%;
    font-size: 18vw;
    color: #3B3C4A;
}

.main-div .main-div-text 
{
    position: relative;
    transform: translateY(9vw);
    top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    transition: color 1s ease-in-out;
    color: #101017;
}

.main-div-text-transition 
{
    color: #a9b1d6 !important;
}