
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

* 
{
    box-sizing: border-box;
    margin: 0;
    color: #a9b1d6;
}

body 
{
    background-color: #191921;
}

.navbar-list 
{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 0;
    width: 100%;
    font-family: Lexend Deca;
}

.navbar-item 
{
    list-style: none;
    margin-right: 100px;
}

.navbar-item a 
{
    color: #a9b1d6;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

.navbar-item:first-child 
{
    margin-right: auto;
    margin-left: 100px;
}

.navbar-item hr
{
    position: relative;
    width: 0;
    left: 50%;
    border-style: solid;
    opacity: 0.0;
    border-color: #a9b1d6;
    transition: left 0.2s,
                width 0.2s,
                opacity 0.2s;

}

.navbar-item:hover hr 
{
    left: 0;
    width: 100%;
    opacity: 1.0;
}

.contact-btn 
{
    border: 2px #a9b1d6 solid;
    background-color: transparent;
    color: #a9b1d6;
    padding: 8px 26px;
    font-size: 20px;
    font-family: Lexend Deca;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #a9b1d6;
    transition: box-shadow 1s cubic-bezier(0.075, 0.82, 0.165, 1),
                color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contact-btn:hover 
{
    box-shadow: inset 0 -52px 0 0 #a9b1d6;
    color: #191921;
}

.title-container 
{
    height: 650px;
    width: 100%;
}

.title-container img 
{
    height: 100%;
    width: 100%; 
    object-fit: cover;
    opacity: 0.7;
}

.title-container div 
{
    position: absolute;
    left: 50%;
    top: 325px;
    transform: translate(-50%, -50%);
    font-family: Lexend Deca;
    color: white;
    font-size: 60px;
}

.main-container 
{
    padding: 40px 60px;
    font-family: Lexend Deca;
}

.main-container .desc-div-element 
{
    font-family: Kalam;
    color: #3b3c4a;
    font-size: 25px;
    margin-top: 14px;
}

.main-container h2 div, .main-container h2 span
{
    margin-bottom: 12px;
    font-size: 30px;
}

.main-container h2 span {
    position: relative;
    top: 5px;
}

.main-container hr
{
    margin-bottom: 25px;
    border: #3b3c4a 1px solid;
}

.main-container div 
{
    margin-top: 5px;
    font-size: 20px;
}

.main-container .download-btn button
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0 20px 0;
    top: 10px;
    border: 2px #a9b1d6 solid;
    background-color: transparent;
    padding: 16px 50px;
    font-family: Lexend Deca;
    font-size: 22px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #a9b1d6;
    transition: box-shadow 1s cubic-bezier(0.075, 0.82, 0.165, 1),
                color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-container .download-btn button:hover 
{
    box-shadow: inset 0 -60px 0 0 #a9b1d6;
    color: #191921;
}

.gallery-container 
{
    padding: 40px;
    background-color: #121319;
}

.gallery-container .row 
{
    display: flex;
    flex-wrap: wrap;
    padding: 0 2%;
}

.gallery-container .column 
{
    flex: 50%;
    max-width: 50%;
    padding: 0 2%;
}

.gallery-container img 
{
    margin-top: 4%;
    margin-bottom: 4%;
    vertical-align: middle;
    width: 100%;
    opacity: 0.0;
    transform: scale(105%);
    transition: opacity 1s ease-in-out, 
                transform 1s ease-in-out;
}

.gallery-img-transition
{
    opacity: 1.0 !important;
    transform: scale(100%) !important;
}

.main-container a
{
    transition: color 0.3s;
}

.main-container a:hover 
{
    color: white;
}

.menu-icon 
{
    position: absolute;
    z-index: 2;
    padding: 40px 0;
    margin-left: 8%;
    opacity: 0.0;
    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

@media screen and (max-width: 880px) 
{
    .gallery-container .column
    {
        flex: 100%;
        max-width: 100%;
    }

    .navbar 
    {
        opacity: 0.0;
    }

    .menu-icon 
    {
        opacity: 1.0;
    }
}